.ear-left{
    position: absolute;
    height: 100px;
    width: 15px;
    background: #3ca9f1;
    border-radius: 95%;
    border: 1px solid black;
    left: 10px;
    box-shadow: 15px 19px 38px rgba(0,0,0,0.30),
          15px 15px 38px rgba(0,0,0,0.22);
}
.ear-right{
    position: absolute;
    height: 100px;
    width: 15px;
    background: #3ca9f1;
    border: 1px solid black;
    border-radius: 95%;
    right: 10px;
    box-shadow: 15px 19px 38px rgba(0,0,0,0.30),
          15px 15px 38px rgba(0,0,0,0.22);
}
.head{
    position: absolute;
    height: 50px;
    width: 65px;
    background: #3ca9f1;
    border: 1px solid black;
    border-radius: 95%;
    right: 0;
    left: 0;
    top: 24px;
    margin: 0 auto;
    box-shadow: 15px 19px 38px rgba(0,0,0,0.30),
          15px 15px 38px rgba(0,0,0,0.22);
}
.eye-left{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 100%;
    left: 12px;
    top: 10px;
}
.eye-left--point{
    position: absolute;
    height: 1px;
    width: 1px;
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    left: 4px;
    top: 4px;
}
.eye-right{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 100%;
    right: 12px;
    top: 10px;
}
.eye-right--point{
    position: absolute;
    height: 1px;
    width: 1px;
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    right: 4px;
    top: 4px;
}

.nose{
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
}